<% include ../partials/head %>

<div class="favbooks"> 

<% books.forEach(book => { %>
<img  src="<%=book.link%>" style = "width: 200px">    
    <h1><%= book.title%> </h1>
  <h4>By: <%=book.author%> </h4>%>
<% }); %>
</div>

<% include ../partials/footer %>