<% include ../partials/head %>
<div class="search">
    <h1>find book</h1>
    <form id="book-search-form">
        <input id="search" placeholder="Enter book to search">
        <button id="button" type="submit">Search</button>
    </form>
    <div id="output"></div>
</div>





<% include ../partials/footer %>
