<% include ../partials/head %>
<div class="search">
    <h1>Find Books</h1>
    <form id="book-search-form">
        <input id="search" placeholder="Enter book to search">
        <button id="button" type="submit">Search</button>
    </form>
    <div id="output"></div>
</div>

<div>   
    <form action='/books' method='POST'>
        <input type="text" name="title" size='30' placeholder='Title'>
        <input type="text" name="author" size="30" placeholder='Author'>
        <input type="text" name="link" size="30" placeholder='Image URL'>
        <button type="submit">submit</button>
    </form>
</div>



<% include ../partials/footer %>
